<?xml version="1.0" encoding="UTF-8" ?>
<module name="modules">
    <title></title>
    <description></description>
    <version>v0.1</version>
    <enabled>1</enabled>
    <is_core>1</is_core> 	
    <icon_path>modules/modules/img/modules.png</icon_path>
    <position>0</position>
</module>
