<?xml version="1.0" encoding="UTF-8" ?>
<module name="bank_accounts">
    <title>
        <fr>Comptes bancaires</fr>
    </title>
    <description>
        <fr>Gestion des comptes bancaires de l'entreprise.</fr>
    </description>
    <version>v0.1</version>
    <menu>bank_accounts</menu>
    <enabled>1</enabled>
    <is_core>1</is_core> 
    <home_controller>manage</home_controller>
    <type>mod_entreprise</type>
    <icon_path>img/icons/bank_accounts.png</icon_path>
    <lang_file_name>bank_accounts</lang_file_name>
</module>
