<?xml version="1.0" encoding="UTF-8" ?>
<module name="managers">
    <title>
        <fr>Gestion des utilisateurs</fr>
    </title>
    <description>
        <fr>Gérer les utilisateurs et leurs informations.</fr>
    </description>
    <version>v0.1</version>
    <menu>users</menu>
    <enabled>1</enabled>
    <is_core>1</is_core> 	
    <type>mod_manager</type>
    <has_settings>0</has_settings>
    <icon_path>img/icons/users.png</icon_path>
    <lang_file_name>users</lang_file_name>
</module>
